.news-item.gird-item {
    margin: 0 0 1rem 0;
}

.grid-item-title {
    font-weight: 600;
}

.grid-item-date {
    font-size: .8em;
    font-weight: 600;
}

.item-delete-button {
    cursor: pointer;
}

.clearFloat {
    clear: both;
}
